@{ ViewData["Title"] = "Home Page"; }


<section>
    @*<div class="text-center">
            <br /><br /><br /><br /><br />
            <h1 class="display-4" style="color: white">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>*@
</section>

<br />
<br />
<br />
<div>
    <table class="tituloLogo">
        <tr>
            <th>
                <img id="fotoLogo" src="/css/img/cartas/A-C.png" />

            </th>

            <th>
                <h1 class="tituloCasino">Bienvenidos al Casino ORT</h1>
            </th>
        </tr>
    </table>
</div>

<section id="formulario">

    <form class="formLogin">


        <table class="tablaLogin">
            <tr>

                <th>
                    <div>
                        <label class="loginTitulo" for="usuario"> Usuario</label>
                        <br>
                        <input class="loginCaja" type="text" id="usuario" name="usuario" placeholder="Ingrese su nombre de usuario" />
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <br><br />
                    <div>
                        <label class="loginTitulo" for="password">Password</label>
                        <br>
                        <input class="loginCaja" type="password" id="password" name="password" placeholder="Ingrese su password" />
                    </div>
                </th>
            </tr>

            <tr>
                <th>
                    <br><br />
                    <div id="centrar">
                        <button id="loginBoton" type="submit" onclick="verficar()" asp-controller="juego" asp-action="paginaPrincipal">Ingresar</button>
                    </div>
                    <br />

                    <div>
                        <p style="color:gray">No tenes cuenta?</p>
                        <a id="link" asp-controller="Usuarios" asp-action="Create">Registrarse</a>
                    </div>
                </th>

            </tr>

            <tr>

                <th>

                    <h1 id="subtitulo">"Recuerde que si mintio para jugar, ya no esta jugando"</h1>
                </th>
            </tr>

        </table>



    </form>


</section>