@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<br />


<div class="login">
    <form action="Login" method="post">
        <div class="form-login">
            <label>Ingrese su nombre de usuario</label>
            <input type="text" name="usuario" value="" />

        </div>

        <div class="form-login">
            <label>Ingrese su contrasenia</label>
            <input type="password" name="password" value="" />


        </div>

        <div>
            <button>Ininciar sesion</button>
        </div>

    </form>


</div>

<br />
<br />