
/* Mi agregado
-------------------------------------------------- *//**/
html {
    font-family: 'Montserrat', sans-serif;
  
}

#logo {
    width: 4%;
}

header {
    color: aliceblue;
    background-color: black;
    background-position: top;
    padding-right:15rem;
   position:fixed;
}

#home{
    color:aliceblue;
}

body {
    background-image: url("img/fondoVioleta.jpg");
    background-attachment: fixed;
    background-position: center left;
  
}

.tabla {
    width: 50cm; 
    border-collapse: collapse;
}

.link {
    color: aliceblue;
    text-decoration: none;
}

th {

    font-size: medium;
    color: rgba(255, 255, 255, 0.74);
    text-align: center;
}

#titulo {
    text-align: left;
}

#segunda {
    text-align: left;
}

#tercera {
    text-align: left;
}


.tabla2 {
    margin: 0 2;
    width: 20cm;
    border-collapse: collapse;
}

.columna2 {
    font-size: medium;
}

.titulobk {
    color: aliceblue;
    text-align: left;
    margin-left: 7rem;
}

.blackjack {
    padding-top: 3rem;
    margin-left: 5rem;
}

.columnabk{
    padding-left:5rem;
}

.texto1 {
    text-align: center;
}

.foto1 {
    width: 20rem;
    border-radius: 5px;
}

.tragamonedas {
    padding-top: 2rem;
    margin-left: 50rem;
}



.titulotg {
    color: aliceblue;
    text-align: left;
    margin-left: 45rem;
}

.foto2 {
    width: 21rem;
    border-radius: 5px;
}

.tablabk {
    padding-top:1px;
}

.opciones{
    text-align:center;
    color:antiquewhite;
}

.mesa {
   
    margin-left: 2,5rem;
}

.espacio{
    padding-left : 5rem;
}

.foto3 {
    width: 500px;
}


#mesa-cartas img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#usuario-cartas img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#hit {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 30px;
    color: antiquewhite;
    border-radius: 12px;
    border-color: rgba(95, 6, 6, 0);
    font-size: medium;
    background-color: rgb(95, 6, 6);
}

#stay {
    font-family: 'Montserrat', sans-serif;
    width: 100px;
    height: 30px;
    border-color: rgba(95, 6, 6, 0);
    color: antiquewhite;
    border-radius: 12px;
    font-size: medium;
    background-color: rgb(95, 6, 6);
}

section {
    text-align: center;
    color: antiquewhite;
    
}

.spam {
    opacity: 0;
}

#hit:hover {
    transition: all 0.8s;
    background-color: rgb(170, 13, 13);
}
#stay:hover {
    transition: all 0.8s;
    background-color: rgb(170, 13, 13);
}

#hit {
    /* width: 150px;
    height: 30px;
    background-color: rgb(95, 6, 6);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    user-select: none;
    cursor: pointer;
    margin: auto;
    top: 30px;*/
}

.play {
    font-family: 'Montserrat', sans-serif;
    width: 40px;
    height: 20px;
    color: black;
    background-color: greenyellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    border-color: rgba(250, 235, 215, 0);
    user-select: none;
    cursor: pointer;
    margin: auto;
    top: 30px;
}
 .play:hover {
        transition: all 0.8s;
        background-color: black;
        color:antiquewhite;
    }



.tabla3{
    margin: 0 auto;
}

.tabla3 th {
    padding-top:3rem;
    padding-left:2rem;
}











/* tragamonedas */
img {
    max-width: 100%;
    vertical-align: top;
}

#juego2 {
    padding-top:5rem;
    font-family: "Pacifico";
    margin: auto;
    width: 550px;
}
 
#linea1 {
    display: flex;
    align-items: center;
    margin: 10px 0 0 19px;
}

#credito {
    color: rgba(239, 184, 16, 0.7);
    font-size: 1.5em;
}

#dinero {
    font-size: 2.5em;
}

#pesos {
    font-size: 1.4em;
}

#tirar {
    width: 150px;
    height: 30px;
    background-color: rgb(95, 6, 6);
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    user-select: none;
    cursor: pointer;
    position: left;
    margin: auto;
    top: 30px;
}

#capsula {
    height: 100px;
}


#tirar:hover {
    transition: all 0.8s;
    background-color: rgb(170, 13, 13);
}

#titulo3 {
    /*padding-top:5rem;*/
    text-align: center;
    color: antiquewhite;
}

#ventanas {
    display: flex;
    justify-content: space-around;
    height: 200px;
}

.ventana {
    width: 175px;
}

.imagen {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
}

#velo {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.6);
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#cruz {
    width: 30px;
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
}

#cuadro_mensaje {
    border: 3px solid rgb(0, 0, 0);
    width: 500px;
    border-radius: 12px;
    position: relative;
    height: 100px;
    background-color: white;
    text-align: center;
}

#mensaje {
    font-size: 1.6em;
    color: rgb(0, 0, 0);
}

.subtitulo {
    color: black;
}

/*no me lo toma*/ 

footer {
   
    color:antiquewhite;
    margin-top:5rem;
    background-color:black;
    padding-top:1rem;
    padding-bottom:3rem;
}

#minombre {
    text-align:center;
    color:green;
    text-decoration:double;
    font-size:x-large;
    
}