

<br />
<br />
<section id="juego">

    <table class="tabla3">
        <tr>
            <th>
                <h2>BlackJack</h2>
            </th>
            <th>
                <button class="play" id="botonBK" onclick="play()">Play</button>
            </th>
        </tr>
    </table>
    <br />
    <h2>Mesa: <span id="mesa-suma"></span></h2>
    <div id="mesa-cartas">
        <img id="hidden" src="~/css/img/cartas/BACK.png" />
    </div>
    <br /><br />
    <h2>Jugador : <span id="usuario-suma"></span></h2>
    <div id="usuario-cartas"></div>

    <br>
    <button class="boton1" id="hit">Pedir</button>
    <span class="spam">----</span>
    <button id="stay" class="boton1">Quedarse</button>
    <p id="results"></p>

    <lable>Apuesta :<span id="usuario-suma"></span></lable>
    <input class="cajaApuesta" type="number" placeholder="Ingrese monto de la apuesta" />

</section>



