

<section id="cabecera">

    <table class="tabla2">

        <tr class="fila">
            <th class="columna2" id="mismoFondo">
                <a id="link" class="navbar-brand" asp-area="" asp-controller="juego" asp-action="paginaPrincipal">Inicio</a>
                @*<a id="mismaPag" class="link">Home</a>*@
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="blackjack"> BlackJack</a>
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="tragamoneda"> Tragamonedas</a>
            </th>
            <th class="columna2">
                <a id="link" class="link">Premios</a>
            </th>
        </tr>
    </table>
</section>
<br />
<br />
<section id="juego">

    <table class="tabla3">
        <tr>
            <th>
                <h2>BlackJack</h2>
            </th>
            <th>
                <button class="play" id="botonBK" onclick="play()">Play</button>
            </th>
        </tr>
    </table>
    <br />
    <h2>Mesa: <span id="mesa-suma"></span></h2>
    <div id="mesa-cartas">
        <img id="hidden" src="~/css/img/cartas/BACK.png" />
    </div>
    <br /><br />
    <h2>Jugador : <span id="usuario-suma"></span></h2>
    <div id="usuario-cartas"></div>

    <br>
    <button class="boton1" id="hit">Pedir</button>
    <span class="spam">----</span>
    <button id="stay" class="boton1">Quedarse</button>
    <p id="results"></p>

    <lable>Apuesta :<span id="usuario-suma"></span></lable>
    <input class="cajaApuesta" type="number" placeholder="Ingrese monto de la apuesta" />
    <br /><br />
</section>



