@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Home Page";
}



<section id="cabecera">

    <table class="tabla2">

        <tr class="fila">
            <th class="columna2" id="mismoFondo">
                <a id="link" class="navbar-brand" asp-area="" asp-controller="juego" asp-action="paginaPrincipal">Inicio</a>
                @*<a id="mismaPag" class="link">Home</a>*@
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="blackjack"> BlackJack</a>
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="tragamoneda"> Tragamonedas</a>
            </th>
            <th class="columna2">
                <a id="link" class="link">Premios</a>
            </th>
        </tr>
    </table>
</section>



<div class="blackjack">

    <table>
        <h2 class="titulobk">Blackjack</h2>
        <tr>
            <th>
                <img class="foto1" src="~/css/img/bk.jpg" />
            </th>
            <th class="columnabk">
                <p>
                    El blackjack, también llamado veintiuno, es un juego de cartas, propio de los casinos con <br />
                    una o más barajas inglesas de 52 cartas sin los comodines, que consiste en sumar un valor<br />
                    lo más próximo a 21 pero sin pasarse
                </p>
            </th>
        </tr>
    </table>

</div>

<br>
<br>
<div class="tragamonedas">

    <h2 class="titulotg">Tragamonedas</h2>
    <table>
        <tr>
            <th class="columnabk">
                <p>
                    Las máquinas tragamonedas​,conocidas en inglés como slots o video slots,
                    <br> son máquinas de juegos de azar donde se apuesta cierta cantidad de dinero <br>
                    para ganar un premio en efectivo
                </p>
            </th>

            <th>
                <img id="foto2" src="~/css/img/tg.jpg">
            </th>

        </tr>
    </table>
</div>


<br />
<br />
@*<h3 id="saludo">HOLA COMO VA ?</h3>*@

<section class="opciones">

    <div>
        <h3>Mesas de BlackJack</h3>
        <table class="mesa">
            <tr>

                <th class="espacio">
                    <img class="foto3" src="~/css/img/bk1.jpg">
                </th>
                <th class="espacio">
                    <img class="foto3" src="~/css/img/bk2.jpg">
                </th>
                <th class="espacio">
                    <img class="foto3" src="~/css/img/bk3.jpg">
                </th>
            </tr>
        </table>

    </div>
    <br />
    <div>
        <h3>Maquinas Disponibles</h3>
        <table class="mesa">
            <tr>
                <th class="espacio">
                    <img class="foto3" src="~/css/img/tg1.jpg">
                </th>
                <th class="espacio">
                    <img class="foto3" src="~/css/img/tg2.jpg">
                </th>
                <th class="espacio">
                    <img class="foto3" src="~/css/img/tg3.jpg">
                </th>
            </tr>
        </table>

    </div>

</section>

<br />
<br />
<br />

