

<section id="cabecera">


    <table class="tabla">

        <tr class="fila">
            <th class="columna" id="titulo">
                <img id="logo" src="~/css/img/as.jpg"/>
                
                <a id="Titulo" class="link">Casino ORT</a>
            </th>
            <th class="columna" id="segunda">
                <a class="link" href="https://www.pokerstarscasino.com/es-419/about/responsible-gaming/">Juego Responsable</a>
            </th>
            <th class="columna" id="segunda">
                <a class="link">Como Funciona?</a>
            </th>
            <th class="columna" id="tercera">
                <a class="link">Iniciar Sesion</a>
            </th>
            <th class="columna" id="tercera">
             
                <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Create">Unirse</a>
            </th>
        </tr>
    </table>
    <br>
    <table class="tabla2">

        <tr class="fila">
            <th class="columna2" id="mismoFondo">
                <a id="home" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
             
            </th>
            <th class="columna2">
                <a asp-area="" asp-controller="juego" asp-action="blackjack"> BlackJack</a>
            </th>
            <th class="columna2">
                <a asp-area="" asp-controller="juego" asp-action="tragamoneda"> Tragamonedas</a>
            </th>
            <th class="columna2">
                <a class="link">Premios</a>
            </th>
        </tr>
    </table>
    <br>
</section>


<br />
<br />


<section id="juego2">

    <table class="tabla3">
        <tr>
            <th>
                <h1 id="titulo3">TRAGAMONEDAS</h1>
            </th>
            <th>
                <button class="play" id="botonTG" onclick="play2()">Play</button>
            </th>
        </tr>
    </table>
    <br /><br />
    <section id="ventanas">
        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png" />
            </div>
        </div>

    </section>

    <section id="capsula">
        <div id="linea1">
            <div id="credito">Credito: </div>
            <div id="pesos">$</div>
            <div id="dinero"></div>
            <div id="tirar">Tirar</div>

            <form asp-controller="Usuarios" asp-action="Edit">
                <label>Apuesta :<span></span></label>
                <input class="cajaApuesta" type="number" placeholder="Ingrese monto de la apuesta" />
                <button type="submit">Finalizar</button>
            </form>

        </div>
    </section>

    <div id="velo">
        <div id="cuadro_mensaje">
            <img id="cruz" src="~/css/img/formas/cruz.png">
            <div id="mensaje">
            </div>
        </div>
    </div>

</section>