


<br />
<br />


<section id="juego2">

    <table class="tabla3">
        <tr>
            <th>
                <h1 id="titulo3">TRAGAMONEDAS</h1>
            </th>
            <th>
                <button class="play" id="botonTG" onclick="play2()">Play</button>
            </th>
        </tr>
    </table>
    <br /><br />
    <section id="ventanas">
        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png" />
            </div>
        </div>

    </section>

    <section id="capsula">
        <div id="linea1">
            <div id="credito">Credito: </div>
            <div id="pesos">$</div>
            <div id="dinero"></div>
            <div id="tirar">Tirar</div>

            <form asp-controller="Usuarios" asp-action="Edit">
                <label>Apuesta :<span></span></label>
                <input class="cajaApuesta" type="number" placeholder="Ingrese monto de la apuesta" />
                <button type="submit">Finalizar</button>
            </form>

        </div>
    </section>

    <div id="velo">
        <div id="cuadro_mensaje">
            <img id="cruz" src="~/css/img/formas/cruz.png">
            <div id="mensaje">
            </div>
        </div>
    </div>

</section>

