
<section id="cabecera">

    <table class="tabla2">

        <tr class="fila">
            <th class="columna2" id="mismoFondo">
                <a id="link" class="navbar-brand" asp-area="" asp-controller="juego" asp-action="paginaPrincipal">Inicio</a>
                @*<a id="mismaPag" class="link">Home</a>*@
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="blackjack"> BlackJack</a>
            </th>
            <th class="columna2">
                <a id="link" asp-area="" asp-controller="juego" asp-action="tragamoneda"> Tragamonedas</a>
            </th>
            <th class="columna2">
                <a id="link" class="link">Premios</a>
            </th>
        </tr>
    </table>
</section>

<br />
<br />


<section id="juego2">

    <table class="tabla3">
        <tr>
            <th>
                <h1 id="titulo3">TRAGAMONEDAS</h1>
            </th>
            <th>
                <button class="play" id="botonTG" onclick="play2()">Play</button>
            </th>
        </tr>
    </table>
    <br /><br />
    <section id="ventanas">
        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png">
            </div>
        </div>

        <div class="ventana">
            <div class="imagen">
                <img src="~/css/img/formas/5.png" />
            </div>
        </div>

    </section>

    <section id="capsula">
        <div id="linea1">
            <div id="credito">Credito: </div>
            <div id="pesos">$</div>
            <div id="dinero"></div>
            <div id="tirar">Tirar</div>

            @*no se utiliza, se precisa setear el valor de la apuesta en el monto del jugador*@
        <form asp-controller="Usuarios" asp-action="Edit">
            <label>Apuesta :<span></span></label>
            <input class="cajaApuesta" type="number" placeholder="Ingrese monto de la apuesta" />
            @*<button id="loginBoton" type="submit">Finalizar</button>*@
            <button id="loginBoton" type="submit" asp-controller="juego" asp-action="paginaPrincipal">Finalizar</button>
        </form>

        </div>
    </section>

    <div id="velo">
        <div id="cuadro_mensaje">
            <img id="cruz" src="~/css/img/formas/cruz.png">
            <div id="mensaje">
            </div>
        </div>
    </div>
    <br /><br /><br /><br />

</section>

