@model CasinoOrt.Models.Usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br /><br /><br /><br /><br />
                        <form asp-action="Create">
                            <table class="tablaLogin">

                                <tr>
                                    <th>
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-group">
                                            <h4 id="subtitulo2">Crear Usuario</h4>
                                            <br />
                                            <label class="loginTitulo" asp-for="nombreUsuario" >Nombre de Usuario</label>
                                            <br />
                                            <input class="loginCaja" asp-for="nombreUsuario" placeholder="ingrese nombre de usuario">
                                            <span asp-validation-for="nombreUsuario" class="text-danger"></span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>


                                        <div class="form-group">
                                            <label class="loginTitulo" asp-for="contraseña">Contraseña</label>
                                            <br />
                                            <input type="password" class="loginCaja" asp-for="contraseña"  placeholder="ingrese su contraseña"/>
                                            <span asp-validation-for="contraseña" class="text-danger"></span>

                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <br />
                                        <div class="form-group">
                                            <label class="loginTitulo" asp-for="nombre">Nombre</label>
                                            <br />
                                            <input class="loginCaja" asp-for="nombre" placeholder="ingrese nombre"/>
                                            <span asp-validation-for="nombre" class="text-danger"></span>
                                        </div>
                                        <br />
                                    </th>
                                </tr>
                                <tr>
                                    <th>
                                        <div class="form-group">
                                            <label class="loginTitulo" asp-for="monto" >Monto</label>
                                            <br />
                                            <input class="loginCaja" asp-for="monto" placeholder="ingrese el monto"/>
                                            <span asp-validation-for="monto" class="text-danger"></span>
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th>

                                       

                                        <div class="form-group">

                                            <input id="loginBoton" type="submit" value="Crear" class="btn btn-primary" />

                                        </div>
                                    </th>



                                </tr>
                                <tr>
                                    <th>
                                        <div id="centrarLink">

                                            <a class="link" asp-controller="juego" asp-action="paginaPrincipal"> Ir a la Pagina Principal</a>
                                        </div>
                                    </th>
                                </tr>

                            </table>
                            <br /><br />
                        </form>
                        <br /><br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}